In [3]:
#import regular expression library
import re

In [6]:
#some text to work with
text = '''DUK was established by the Government of Kerala by upgrading the Indian Institute of Information Technology & Management-Kerala (IIITM-K), which was established by the Government in the year 2000. DUK will commence the application process for MSc, MTech, MBA and PG Diploma programs for the academic year 2023 – 2024 in the month of March-May. As a student on these programs, you will form a part of an exciting learning environment in a verdant campus in Technocity, Thiruvananthapuram. Duk is a great University'''

In [9]:
#finding all the occurrences of DUK
#The findall() function takes two parameters, the first is the pattern being searched, in our case, duk_occ and the second parameter is text we are searching through, in our case, text. 
#As you can see, this function returns all the non-overlapping matches of the pattern which is in the duk_occ variables, from the second parameter text.
#Please note that findall() is case sensitive
duk_occ = "DUK"
re.findall(duk_occ, text)

['DUK', 'DUK']

In [12]:
#Lets see this example, where the case is ignored.
duk_occ = "DUK"
re.findall(duk_occ,text,flags=re.IGNORECASE)

['DUK', 'DUK', 'Duk']

In [13]:
#We can also search multiple patterns and extract all occurrences of those patterns. 
duk_kerala="DUK|Kerala"
re.findall(duk_kerala,text,flags=re.IGNORECASE)

['DUK', 'Kerala', 'Kerala', 'DUK', 'Duk']

In [14]:
#Extract words that only contain alphabets
gifts = "\
Basketball    2    25.63\
Tshirt     4   53.92\
Sneakers    1    30.58\
Mask    10   80.54\
GiftCard    2    50.00"

In [16]:
#pattern for only words
words = '[a-z]+'
re.findall(words,gifts,flags=re.IGNORECASE)

['Basketball', 'Tshirt', 'Sneakers', 'Mask', 'GiftCard']

In [18]:
#Extracting all occurrences of numbers
news = '''Sixty-six undergraduate students from an urban college in New York City participated in this study. Students participated in this research study as part of a requirement for a class. Nineteen participants were excluded from the study for meeting one or more exclusion criteria including not completing the sentence unscrambling task, not providing ratings for each of the traits, or failing either one of the two attention checks, leaving the total number of eligible participants at forty-seven. Participants included 36 women aged 18 to 52 years old (M = 20.52, SD = 6.97), 10 men aged 18 to 28 years old (M = 23.5, SD = 12.36), and one individual who did not disclose their sex'''

numbers="\d+"
re.findall(numbers,news)

['36',
 '18',
 '52',
 '20',
 '52',
 '6',
 '97',
 '10',
 '18',
 '28',
 '23',
 '5',
 '12',
 '36']

In [21]:
#By setting our pattern to \d, this signifies to one digit, while the + operator will include repetitions of digits. As you can see from our text, we also have decimals, but from our output they were separated by the “.” We can correct this by using the following regular expression:
all_numbers="\d+\.*?\d+"
re.findall(all_numbers,news)

['36', '18', '52', '20.52', '6.97', '10', '18', '28', '23.5', '12.36']

In [37]:
txt = "DUK is in Thiruvananthapuram"
x = re.search("^DUK.*puram$", txt)
print(x)

<re.Match object; span=(0, 28), match='DUK is in Thiruvananthapuram'>

In [38]:
txt = "DUK is in Thiruvananthapuram"
x = re.findall("tha", txt)
print(x)

['tha']

In [39]:
txt = "DUK is in Thiruvananthapuram"
x = re.findall("Kottayam", txt)
print(x)

[]

In [40]:
txt = "DUK is in Thiruvananthapuram"
x = re.search("\s", txt)

print("The first white-space character is located in position:", x.start())

The first white-space character is located in position: 3

In [41]:
txt = "DUK is in Thiruvananthapuram"
x = re.split("\s", txt)
print(x)

['DUK', 'is', 'in', 'Thiruvananthapuram']

In [42]:
txt = "DUK is in Thiruvananthapuram"
x = re.split("\s", txt, 1)
print(x)

['DUK', 'is in Thiruvananthapuram']

In [43]:
txt = "DUK is in Thiruvananthapuram"
x = re.sub("\s", "2023", txt)
print(x)

DUK2023is2023in2023Thiruvananthapuram

In [44]:
txt = "DUK is in Thiruvananthapuram"
x = re.sub("\s", "2023", txt, 2)
print(x)

DUK2023is2023in Thiruvananthapuram

In [46]:
txt = "DUK is in Thiruvananthapuram"
x = re.search("Thir", txt)
print(x) #this will print an object

<re.Match object; span=(10, 14), match='Thir'>

In [48]:
txt = "DUK is in Thiruvananthapuram"
x = re.search(r"\bT\w+", txt)
print(x.group())

Thiruvananthapuram

In [49]:
#extracting emails from text
text = "Please contact Digital University Kerala at contact@duk.ac.in for further information."+\
        "You can also give feedback at feedback@duk.ac.in"


emails = re.findall(r"[a-z0-9\.\-+_]+@[a-z0-9\.\-+_]+\.[a-z]+", text)
print(emails)

['contact@duk.ac.in', 'feedback@duk.ac.in']

In [51]:
#Validate phone number
# Validate phone number
import re

validate_phone_number_pattern = "^\\+?[1-9][0-9]{7,14}$"
re.match(validate_phone_number_pattern, "+12223334444") # Returns Match object

# Extract phone number from a string
extract_phone_number_pattern = "\\+?[1-9][0-9]{7,14}"
re.findall(extract_phone_number_pattern, 'You can reach me out at +9197343323 and +56667778888') # returns ['+12223334444', '+56667778888']

['+9197343323', '+56667778888']

# Word Tokenizer

In [52]:
#install NLTK library
!pip install nltk

Requirement already satisfied: nltk in c:\users\dr.anoop\appdata\local\programs\python\python39\lib\site-packages (3.6.7)
Requirement already satisfied: joblib in c:\users\dr.anoop\appdata\local\programs\python\python39\lib\site-packages (from nltk) (1.2.0)
Requirement already satisfied: regex>=2021.8.3 in c:\users\dr.anoop\appdata\local\programs\python\python39\lib\site-packages (from nltk) (2022.10.31)
Requirement already satisfied: click in c:\users\dr.anoop\appdata\local\programs\python\python39\lib\site-packages (from nltk) (8.1.3)
Requirement already satisfied: tqdm in c:\users\dr.anoop\appdata\local\programs\python\python39\lib\site-packages (from nltk) (4.64.1)
Requirement already satisfied: colorama in c:\users\dr.anoop\appdata\local\programs\python\python39\lib\site-packages (from click->nltk) (0.4.6)

In [54]:
from nltk.tokenize import word_tokenize
text = '''DUK was established by the Government of Kerala by upgrading the Indian Institute of Information Technology & Management-Kerala (IIITM-K), which was established by the Government in the year 2000. DUK will commence the application process for MSc, MTech, MBA and PG Diploma programs for the academic year 2023 – 2024 in the month of March-May. As a student on these programs, you will form a part of an exciting learning environment in a verdant campus in Technocity, Thiruvananthapuram. Duk is a great University'''
print(word_tokenize(text))

['DUK', 'was', 'established', 'by', 'the', 'Government', 'of', 'Kerala', 'by', 'upgrading', 'the', 'Indian', 'Institute', 'of', 'Information', 'Technology', '&', 'Management-Kerala', '(', 'IIITM-K', ')', ',', 'which', 'was', 'established', 'by', 'the', 'Government', 'in', 'the', 'year', '2000', '.', 'DUK', 'will', 'commence', 'the', 'application', 'process', 'for', 'MSc', ',', 'MTech', ',', 'MBA', 'and', 'PG', 'Diploma', 'programs', 'for', 'the', 'academic', 'year', '2023', '–', '2024', 'in', 'the', 'month', 'of', 'March-May', '.', 'As', 'a', 'student', 'on', 'these', 'programs', ',', 'you', 'will', 'form', 'a', 'part', 'of', 'an', 'exciting', 'learning', 'environment', 'in', 'a', 'verdant', 'campus', 'in', 'Technocity', ',', 'Thiruvananthapuram', '.', 'Duk', 'is', 'a', 'great', 'University']

In [55]:
from nltk.tokenize import sent_tokenize
print(sent_tokenize(text))

['DUK was established by the Government of Kerala by upgrading the Indian Institute of Information Technology & Management-Kerala (IIITM-K), which was established by the Government in the year 2000.', 'DUK will commence the application process for MSc, MTech, MBA and PG Diploma programs for the academic year 2023 – 2024 in the month of March-May.', 'As a student on these programs, you will form a part of an exciting learning environment in a verdant campus in Technocity, Thiruvananthapuram.', 'Duk is a great University']